@charset "UTF-8";

body {
	background-color: pink;
}

#tbl1 {
	margin: auto;
}
td {
	margin: auto;
}

#img {
	border-radius : 19px;
	border-color : black;
	border: #99FFFF;
	max-width: 200px;
	max-height: 200px;
}




