@charset "UTF-8";
@font-face {
	src: url("AHaenam.TTF");
	font-family: "Haenam";
	/*
		웹폰트 등록 :
		CSS에 추가
		폰트파일에 있는 글자들의 모양이 다 등록
			=> 용량이 커집니다 !
				=> 느림... 
	*/	
}

::-webkit-scrollbark { /* 스크롤바 삭제 */
	display: none;
}

body {
	font-family: "Haenam";
	/* html 기본 여백 없애기 */
	margin: 0px;
	padding: 0px;
	/* margin: 바깥쪽 여백 / padding: 안쪽 여백 */
}

#siteTitleArea {
	top: 0px;
	left: 0px;
	width: 100%;
	border-spacing: 0px; /* td간의 간격 */
	font-size: 10pt;
	position: fixed;
}

#siteMenuArea {
	background-color: #FFCCFF/*RGB*/55/*투명도*/;
	font-size: 30pt;	
}

#siteMenuArea table{
	width: 100%;
}

#siteMenuArea td{
	width: 25%;
	text-align: center;
}

#siteMenuArea a {
	text-decoration: none;
	color: teal;
	font-weight: 500;
	/* 애니메이션 효과 */
	/* 속성명 시간 		(ease-in / ease-out) */
	transition: all 0.5s ease-in;
}

#siteMenuArea a:hover {
	font-size: 40pt;
	text-shadow: yellow 0px 0px 10px;
	text-decoration: underline; 
}

#siteMenuArea a:active{
	color: blue;
}

#siteTitle{
	background-color: #3300FF55;
	font-size: 30pt;
	color: black;
	text-shadow: teal 3px 5px 5px;
	width: 1000px;
}

#siteContentArea{
	width: 1000px;
	margin-left: auto;
	margin-right: auto; 	/* left, right : auto를 주면 가운데 정렬 */
	margin-top: 200px;	
}

#dolphin {
	max-width: 50%;
	/* 
		사이즈를 조절하면 그림이 깨져서 안하는게 베스트 !
		어쩔수 없다면
			큰 그림=> 줄이기 : OK !
			작은 그림 => 늘리기 : 깨져서 나올수도 있음
	*/
	
	/* 객체 자체에 그림자 */
	box-shadow: lightblue 10px 10px 30px;
}


























