@charset "UTF-8";

#header {
	font-size: 25pt;
	text-decoration: underline;
}

body {
	background-image: url("minion.webp");
}







































