@charset "UTF-8";

body {
	margin-left: auto;
	margin-right: auto;
}

h1 {
		text-align: center;
		font-size: 50pt;
		color: pink;
}

#tbl1 {
	margin-left: auto;
	margin-right: auto;
}

#siteContent {
	margin-left: auto;
	margin-right: auto;
	
}

#tbl1 th{
	font-size: 30pt;
	text-align: center;
	text-decoration: underline;
	margin-left: auto;
	margin-right: auto;
}

